<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.LoginServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.users.UsersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.users.EditUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.users.AddUserServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ApplicationsServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.applications.ApplicationsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddApplicationServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.applications.AddApplicationServlet</servlet-class>
    </servlet>

    <!--<servlet>
        <servlet-name>AdminApplicationsServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.applications.AdminApplicationsServlet</servlet-class>
    </servlet>-->


    <servlet>
        <servlet-name>AuthorizedUserServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.users.AuthorizedUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.stc07.gubarkovag.servlets.users.AdminServlet</servlet-class>
    </servlet>


    <listener>
        <listener-class>com.stc07.gubarkovag.servlets.listeners.SessionAttributeSetter</listener-class>
    </listener>


    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/site/users</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/site/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/site/editUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/site/addUser</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>AddApplicationServlet</servlet-name>
        <url-pattern>/site/addApplication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/site/approveApplication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/site/rejectApplication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/site/adminViewApplications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/viewApprovedApplications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/site/viewRejectedApplications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/site/sendRejectedApplications</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>AuthorizedUserServlet</servlet-name>
        <url-pattern>/site/authorizeduser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/site/admin</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Login</filter-name>
        <filter-class>com.stc07.gubarkovag.servlets.filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Login</filter-name>
        <url-pattern>/site/*</url-pattern>
    </filter-mapping>
</web-app>